@import "tailwindcss";

:root {
    font-family: "Inter", "Segoe UI", sans-serif;
}

@theme {
    --color-primary: var(--color-slate-900);
    --color-secondary: var(--color-blue-600);
    --color-success: var(--color-emerald-500);
    --color-danger: var(--color-rose-500);
}

body {
    @apply bg-slate-50 text-slate-900;
}
